body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.survey-form {
    background-color: #f4f4f4;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px (red, green, rgb(2,3,3,3,1), alpha);

}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input, textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #34a82e;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3 ease;
}  

button:hover {
    background-color: #1b2aa9;
    transform: scale(1.05);
}